 <div class="songSolo">
    <ul>
      <li>

        <div class="songImg">
          <div class="imgdupe"> <img src="<%= grab_art(@song) %>"> </div>
        <img src="<%= grab_art(@song) %>">
          <div class="imgdupetwo"> <img src="<%= grab_art(@song) %>"> </div>
        </div>
      </li>
      <li>
        <div class="songtitle"><%= @song.title %> </div>
        <h2><%= @song.artist_name %></h2>
        <%= @song.released %>
        <%= @song.release_year %>
        <%= @song.genre %>
      </li>
    </ul>
  </div>